#inicio {
    background: var(--bg-green);
}

#inicio h4 {
    color: #f1fff9;
    font-size: 1.4rem;
    margin-top: 2rem;
    background: var(--gradient);
    font-weight: 500;
    padding: 1rem;
    border-radius: .5rem;
}

#inicio .cards {
    margin-bottom: 2rem;

    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    padding: 1.5rem;

    background: #0000007a;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#inicio .cards .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: .5rem;
    background: #00000095;
    z-index: 1;
    position: relative;
}

#inicio .cards .card h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#inicio .cards .card p {
    font-size: 1.4rem;
    color: #Fff;
}

#inicio .cards .card p span {
    font-weight: 700;
}

#inicio .cards h5 {
    font-size: 1.5rem;
    color: #Fff;
    padding: 1rem;
    font-weight: 600;
}


#inicio .text header {
    background: var(--bege);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 2rem;
        margin-bottom: 0;
}

#inicio .text header .topics {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    text-align: left;
    width: 100%;
}

#inicio .text header h2 {
    font-size: 3rem;
    background: linear-gradient(155deg, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}

#inicio .text header .topic {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

#inicio .text header .topic ion-icon {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

#inicio .text header .topic h3 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
}

#inicio .text header .topic h3 span {
    font-weight: 600;
}

@media (min-width: 1080px) {
    section#inicio .text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
    }

    section#inicio .text header {
        height: max-content;
        padding: 4rem;
        margin-bottom: 0;
    }

    section#inicio h4 {
        width: max-content;
        padding-inline: 2rem;
    }

    section#inicio .cards {
        margin-bottom: 0;
    }
    
    section#inicio .text header .topics {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    section#inicio .text header .topic {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}