#tarja {
    overflow: hidden;
    background: var(--bege);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

#tarja p {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;

    padding-block: 1rem;
}

#tarja p span {
    font-weight: 700;
}

#tarja .black {
    background-color: #000;
    padding: 0.5rem;
}

#tarja .black p {
    font-size: 1.4rem;
    padding-inline: 10%;
}
